.youtube-wrapper{
    display: inline-block;
    box-sizing: border-box;
    width: 210px;
    margin-right: 12px;
}

.img-thumb{
    width: 210px;
    height: 118px;
    overflow: hidden;
    position: relative;
}

.img-thumb img{
    width: 100%;
}

p.time{
    position:absolute;
    color: white;
    bottom: 6px;
    right: 6px;
    margin: 0;
    background:black;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

p.title{
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    color: #2d2d2d;
}

p.desc{
    margin: 0;
    font-size: 12px;
    color: grey;
}